<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YotsubaSharp.YotsubaSharp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YotsubaSharp.YotsubaSharp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <YotsubaSharp.YotsubaSharp>
            <setting name="Token" serializeAs="String">
                <value></value>
            </setting>
            <setting name="MongoPass" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplikaEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplikaPass" serializeAs="String">
                <value />
            </setting>
        </YotsubaSharp.YotsubaSharp>
    </applicationSettings>
    <userSettings>
        <YotsubaSharp.YotsubaSharp>
            <setting name="dev" serializeAs="String">
                <value />
            </setting>
            <setting name="devtok" serializeAs="String">
                <value />
            </setting>
        </YotsubaSharp.YotsubaSharp>
    </userSettings>
</configuration>